{% extends 'design/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">
				{% if action == "edit" %}Редактирование заявки{% else %}Создание заявки{% endif %}
			</legend>
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">
				{% if action == "edit" %}
				Сохранить
				{% else %}
				Создать
				{%endif %}
			</button>
		</div>
	</form>
</div>
{% endblock %}