
{% extends "design/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="text-align: center;">ВХОД</legend>
                <div class="form-group">
                    <label for="txt">Логин</label>
                    <input type="text" id="txt" name="username" required>
                </div>
                <div class="form-group">
                    <label for="psw">Пароль</label>
                    <input type="password" id="psw" name="password" required>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Войти</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="ml-2" href="{% url 'register' %}">Создать аккаунт</a>
            </small>
        </div>
    </div>
{% endblock content %}
