{% extends "design/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Зарегистрироваться</legend>
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">Пароль:</label>
                    {{ form.password1 }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">Подтвердите пароль:</label>
                    {{ form.password2 }}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Отправить</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="ml-2" href="{% url 'login' %}">Войти</a>
            </small>
        </div>
    </div>
{% endblock content %}
